.search__input {
  width: 608px;
  height: 62px;
  padding-left: 24px;
  background: #fff;
  border: 1px solid rgb(209, 210, 214);
  border-radius: 100px;
  color: #000;
}

.search__input:focus {
  outline: none;
  color: #000;
}

.search__input::placeholder {
  color: rgb(182, 188, 191);
}

.search__button {
  position: absolute;
  right: 1px;
  bottom: 0;
  width: 168px;
  height: 64px;
  padding: 0;
  background-color: rgb(47, 113, 229);
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
}

.search__button:hover {
  background-color: rgb(52, 126, 255);
}
