.app {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 100vh;
}

.page__background-img {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/newsexplorerbackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}