.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 104px;
  background-color: #fff;
}

.footer__copyright {
  color: #b6bcbf;
  font-size: 16px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  font-size: 18px;
}

.footer__social {
  display: flex;
  gap: 24px;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__social-icon_type_github {
  background-image: url("../../assets/github.svg");
}

.footer__social-icon_type_linkedin {
  background-image: url("../../assets/linkedin.svg");
}
