.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__close {
  position: absolute;
  padding: 0;
  top: -50px;
  right: -55px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__content_type_success {
  width: 430px;
  padding: 0;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 43px 79px 51px 36px;
}

.modal__title_type_success {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  color: #1a1b22;
  line-height: 1.25;
  min-width: 315px;
}

.modal__redirect {
  background: none;
  border: none;
  padding: 0;
  color: #2f71e5;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.modal__redirect:hover {
  opacity: 0.8;
}
