.news-card {
  background: white;
  max-width: 400px;
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
}

.news-card__bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border: red;
  background: url("../../assets/bookmark-icon.svg") no-repeat center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.news-card__bookmark:hover {
  background: url(../../assets/bookmark-hover.svg);
}

.news-card__bookmark_active, .news-card__bookmark_active:hover {
  background: url(../../assets/bookmark-icon__active.svg);
}

.news-card__tooltip {
  position: absolute;
  top: 0;
  right: 48px;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: auto;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.news-card__bookmark_inactive:hover .news-card__tooltip {
  opacity: 1;
}

.news-card__image {
  width: 100%;
  height: 250px;
  background-color: #dcdcdc;
}

.news-card__date {
  font-size: 14px;
  color: #999;
  margin: 20px;
}

.news-card__title {
  font-size: 26px;
  color: #1a1b22;
  margin: 0 20px;
}

.news-card__text {
  margin: 10px 20px 20px;
  color: #1a1b22;
  font-size: 16px;
}

.news-card__source {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
