.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__content {
  position: absolute;
  top: 150px;
  left: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  max-width: 608px;
  margin: 0 0 32px;
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
  color: #fff;
}

.hero__subtitle {
  margin: 0 0 88px;
  color: #fff;
}
