.hero {
  display: flex;
  justify-self: center;
  align-self: center;
}

.hero__content {
  position: absolute;
  top: 150px;
  left: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px 0;
  color: #fff;
  max-width: 608px;
  font-weight: normal;
}

.hero__subtitle {
  margin: 0 0 88px 0;
  color: #fff;  
}